@charset "utf-8";

.head{
	width: 100%;
	height: 600px;
	/*background-color: red;*/
	background-image: url(../images/head.jpg);
}
.head .head-1{
	float: left;
	width: 30%;
	height: 100px;
	/*background-color: yellow;*/
	/*margin-top: 50px;
	margin-left: 300px;*/
}
.head .head-1 .head-0{
	margin-left: 250px;
	margin-top: 30px;
}
.head .head-1  #lianjia{
	font-size: 30px;
	color: white;
	margin-left: 70px;
}
.head .head-1  #lianjia2{
	font-size: 12px;
	margin-left: 35px;
	position: relative;
	top: -5px;
	color: white;
}
.head .head-1 .head-1-1{
	position: relative;
	left: 150px;
	top: -40px;
}
.head .head-1 .head-1-1 a{
	border: 1px  red;
	background-color: #42393b;
	border-radius: 15px;
	font-size: 12px;
	color: white;

}

.head  .head-2{
	float: right;
	width: 70%;
	height: 100px;
}
.head  .head-2 .head-2-1{
	width: 80%;
	height: 20px;
	margin:0 auto;
}
.head  .head-2 .head-2-1  a{
	float: left;
	position: relative;
	left: 740px;
	color: white;
	top: 15px;
	
}
.head  .head-2 .head-2-2{
	width: 80%;
	height: 40px;
	margin:0 auto;
	margin-top: 15px;
}
.head  .head-2 .head-2-2 a{
	margin-left: 20px;
	color: white;
	font-weight: bolder;
}
 .two{
	width: 100%;
	height: 300px;
	background-color: yellow;
}
.three{
	width: 100%;
	height: 300px;
	background-color: pink;
}
.four{
	width: 100%;
	height: 300px;
	background-color: orange;
}
.five{
	width: 100%;
	height: 300px;
	background-color: #ccc;
}
.six{
	width: 100%;
	height: 300px;
	background-color: black;
}
.seven{
	width: 100%;
	height: 300px;
	background-color: blue;
}
.foot{
	width: 100%;
	height: 300px;
	background-color: green;
}
